.todoItem {
    font-size: 1em;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.addTodoContainer {
    text-align: center;
}

input {
    margin: 1%;
    padding: 1em;
    width: 15%;
}

button {
    font-size: 1em;
    color: white;
    background-color: #2980B9;
}

#add {
    padding: .5%;
}

#title {
    margin-top: 15%;
    font-size: 3em;
    text-align: center;
}

body {
    background-color: #D6DBDF;
}